/**************************** desktop ********************************************/

.fundo{
	height: 3444px;
	background-image: url("http://sergipedeperto.se.gov.br/biosseguranca/jpg/fundo.jpg");
	background-repeat: no-repeat;		
	background-position: center; 
	border: solid 1px transparent;
}

.video{
	/*border: solid;*/
	margin: 1123px auto;
	width: 690px;
	height: 380px;
	/*border: solid 2px;*/
}

.botao{	
	margin-top: 1226px;
	text-align: center;	
	width: 685px;
	height: 50px;
	/*border: solid 2px;*/
	cursor: pointer;
}