/**************************** mobile ********************************************/

.bg-div {
	position: relative;
	background-image: url("http://sergipedeperto.se.gov.br/biosseguranca/jpg/fundo_mobile.jpg");
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	width: 100%;
}

.img-bg {
	width: 100%;
	opacity: 0;
}

.content-div {
	position: absolute;
	top: 41.5%; 
	left: 22.0% !important;
	margin: 0 auto;

	/*margin-top: 0%;*/
	/*margin-left: 10%;*/
	/*max-width 100%; // Não permite extrapolar as dimensões da div principal*/
	/*max-height: 100%;*/

	/*border: solid 3px;*/
	width: 56%;
	height: 15%;
}

.botao_mobile{	
	position: absolute;
	top: 80.5%; 
	left: 22.0% !important;
	margin: 0 auto;	
	text-align: center;	
	width: 56%;	
	height: 10%;	
	cursor: pointer;		
}